@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f9faf8;
    background: #1f2937;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #FAE1B1;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
}

