@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
    =================================================
    *Progress#1: Basic Layout design style elements
    =================================================
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* max-width: 1080px; */
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #f9faf8;
    background: #1f2937;
}


img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #FAE1B1;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
}

/*
    =================================================
    !Progress#1: Basic Layout design style elements
    =================================================
*/


/*
    =================================================
    *Progress#2: Inner layout design style arrangement of items
    *Progress#3: Individual element style customization
    =================================================
*/


/*
    ----------------------
    ?Layout: Navbar
    ----------------------
*/
.navbar,
.footer {
    height: 60px;
}

.navbar .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

/* *Individual element design */
.navbar .logo {
    font-size: 150%;
    font-weight: bolder;
}

.navbar a {
    font-size: 112.5%;
}

/*
    ----------------------
    ?Layout: Header
    ----------------------
*/
.header .container {
    /* !TODO adjust the height */
    min-height: 400px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .container > img {
    max-width: 50%;
    filter: invert(6%) sepia(79%) saturate(2137%) hue-rotate(237deg) brightness(95%) contrast(110%);
}

/* *Individual element design */
.header .hero-text > * {
    margin-bottom: 5px;
}

.header .hero-text > *:last-child {
    margin-bottom: 0;
}

.header .hero-text h1 {
    font-size: 300%;
    font-weight: 800;
    line-height: 3rem;
}

.header .hero-text p,
.header .hero-text button {
    font-size: 112.5%;
}

.header .hero-text button {
    color: #e5e7eb;
    font-weight: 600;
    background: #3882f6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/*
    ----------------------
    ?Layout: Section-info
    ----------------------
*/
.main-info {
    background: #f9faf8;
    color: #1f2937;
}

.main-info .container {
    /* !TODO adjust the height */
    min-height: 400px;
    min-width: 100%;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #fff;
}

.main-info .container .boxes {
    display: flex;
    justify-content: space-evenly;
}

.main-info .container .boxes .box {
    /* !TODO adjust the width */
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.box p {
    text-align: center;
}

/*
    ----------------------
    ?Layout: Section-quote
    ----------------------
*/
.quote {
    background: #e5e7eb;
    color: #1f2937;
}

.quote .container {
    /* !TODO adjust the height */
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text p {
    text-align: right;
}

/*
    ----------------------
    ?Layout: Section-cta
    ----------------------
*/
.cta {
    background: #f9faf8;
    color: #000;
}

.cta .container {
    /* !TODO adjust the height */
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .cta-box {
    background: #3882f6;
    border-radius: 15px;
    padding: 50px;
    min-width: 90%;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*
    ----------------------
    ?Layout: Footer
    ----------------------
*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    =================================================
    !Progress#2: Inner layout design style arrangement of items
    =================================================
*/